<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>
        <%= title%>
    </title>
</head>

<body class="bg-gray-100">
    <div class="text-lg px-5 pt-2">
        <h2><a class="underline" href="/dashboard">Dashboard</a>
            <span> > </span>
            <a>Courses</a>
        </h2>
    </div>
    <div class="container mx-auto mt-8 p-8 bg-white rounded shadow-md">

        <!-- Create New Course Form -->
        <div class="mb-4">
            <h2 class="text-2xl font-bold mb-4">Create a New Course</h2>
            <form action="/courses/new" method="post" class="flex space-x-4">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="text" name="coursename" placeholder="Enter course name"
                    class="flex-1 px-4 py-2 border rounded">
                <button type="submit"
                    class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
                    Create
                </button>
            </form>
        </div>
        <h2 class="text-2xl font-bold mb-4">List of Courses</h2>
        <% for(var i=0; i<coursename.length;i++) { %>
            <!-- List of Courses -->

            <div>
                <ul>
                    <li class="flex justify-between items-center bg-gray-200 p-4 mb-2 rounded">
                        <span class="text-lg font-semibold">
                            <%= coursename[i].coursename %>
                        </span>
                        <div class="flex space-x-2">
                            <a class="text-red-500 hover:text-red-700 focus:outline-none focus:text-red-700"
                                href="/courses/edit/<%= coursename[i].id %>">Edit</a>
                            <a class="text-red-500 hover:text-red-700 focus:outline-none focus:text-red-700"
                                href="/courses/delete/<%= coursename[i].id %>">Delete</a>
                        </div>
                    </li>
                </ul>
            </div>
            <% } %>
    </div>

</body>
</body>

</html>